     <!-- Insert html here-->
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <title>hackMan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../assets/css/teams.css">
</head>


<body>
<div class="navbar-fixed">
    <nav class="grey darken-3">
    <a id="hackerHead" class="navbar-brand" ng-click="teams()">hackMan</a>
        <ul id="navbar-fixer" class="right">
            <li><a id="navbar-fixer" href="#"><i class="fa fa-exclamation-triangle"></i> Alerts    </a></li>
            <li><a id="navbar-fixer" ng-click="sponsor()"><i class="fa fa-user"></i>      Sponsors</a></li>
            <li><a id="navbar-fixer" ng-click="prize()"><i class="fa fa-user"></i>      Prizes</a></li>
            <li><a id="navbar-fixer" ng-click="loggingOut()"><i class="fa fa-sign-in"></i> Log Out   </a></li>
        </ul>
    </nav>
</div>


<div class="container" id="main_div">

  <img src="../../assets/img/ubhacking.png" id="home">
    <h2 id="hackerHead">Teams</h2>
    <button class="btn" ng-click="newTeam()">Make new team</button>
      <ul id="team_view" class="collapsible popout" data-collapsible="accordion">
         <li ng-repeat="team in groups">
            <div class="collapsible-header" id="hackingBlue" ng-click="selectTeam(team, groups.indexOf(team))"><i class="fa fa-group"></i>{{team.teamname}}</div>
            <div class="collapsible-body white" id="hackingSub">
            <ul>
                <li ng-repeat="name in team.teammates"><i class="fa fa-user"></i> {{name}}</li>
            </ul>
            </div>
         </li>
      </ul>
    <div id="fixed-div">
        <div id="timer" ng-controller="timerCtrl">
        <h2>
            <timer id="timer-text" end-time="145162800000000">TIME REMAINING: {{hours}} hour{{hoursS}}, {{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer>
        </h2>
        </div>
        <div id="alerts">
            <div class="card red darken-3" id="alert-height">
                <div class="card-content">
                <span id="alert-text" class="card-title white-text"><i class="fa fa-exclamation-triangle"></i>  This is where Alerts will be displayed</span>
                <br/>
                </div>
            </div>
            <div id="team-info">
                <div class="card" id="card-height">
                    <div class="card-content">
                    <div >
                        <span class="card-title black-text">Team Info</span>
                    </div>
                    <div ng-hide="editing">
                        <div class="divider"></div>
                        <h5>Team Name: </h5> <p>&nbsp;&nbsp;&nbsp;&nbsp;{{chosen_team.teamname}}</p>
                        <h5>Project Description:</h5> <p>&nbsp;&nbsp;&nbsp;&nbsp;{{chosen_team.proj_desc}}</p>
                        <h5>Status:</h5> <p>&nbsp;&nbsp;&nbsp;&nbsp;{{chosen_team.status}}</p>
                        <h5>Location:</h5> <p>&nbsp;&nbsp;&nbsp;&nbsp;{{chosen_team.location}}</p>
                        <button class="btn" ng-show="role" ng-click="editing = true">Edit</button>
                        <button class="btn" ng-show="role" ng-click="manageTeammate = true">Add Teammate</button>
                        <button class="btn" ng-show="role" ng-click="deleteTeam(chosen_team._id)">Delete Team</button>
                    </div>
                    <div>
                        <form ng-show="editing" ng-submit="editing = false; saveTeam(chosen_team)">
                            <label>Teamname:</label>
                            <input type="text" ng-model="chosen_team.teamname" placeholder="{{chosen_team.teamname}}" ng-required />
                            <label>Project Description:</label>
                            <input type="text" ng-model="chosen_team.proj_desc" placeholder="{{chosen_team.proj_desc}}" ng-required />
                            <label>Status:</label>
                            <input type="text" ng-model="chosen_team.status" placeholder="Status" ng-required />
                            <label>Location:</label>
                            <input type="text" ng-model="chosen_team.location" placeholder="Location" ng-required />
                            <br />
                            <button class="btn" type="submit">Save</button>
                        </form>
                    </div>
                    <div>
                        <form ng-show="manageTeammate" ng-submit="manageTeammate = false; addTeammate(teammate)">
                            <label>Add Teammate:</label>
                            <input type="text" ng-model="teammate" placeholder="Teammate Name" ng-required />
                            <br />
                            <button class="btn" type="submit">Add Teammate</button>
                        </form>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
