<html lang=en>

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/teams.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/globalStyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .bg-ltGrey {
            background-color: #7d8280;
            color: #000000;
        }
    </style>
</head>


<body class="bg-ltGrey" ng-app="Members">
    <div class="navbar-fixed">
        <nav class="grey darken-3">
        <a id="hackerHead" class="navbar-brand" href="#">hackMan</a>
            <ul id="navbar-fixer" class="right">
                <li><a id="navbar-fixer" href="#"><i class="fa fa-exclamation-triangle"></i> Alerts    </a></li>
                <li><a id="navbar-fixer" href="#"><i class="fa fa-user"></i>    Register</a></li>
                <li><a id="navbar-fixer" href="#"><i class="fa fa-sign-in"></i> Log Out   </a></li>
            </ul>
        </nav>
    </div>



    <div class="container">
        <div class="row">
            <div class="col s6 offset-s3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="../../assets/img/nopic.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-texts">Joe Smith<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 center-align flow-text">Joe Smith<i class="material-icons right">close</i></span>
                        <div>
                            <h5 class="center-align flow-text">I like dogs and web dev</h5>
                        </div>
                        <div class="fixed-action-btn horizontal click-to-toggle">
                            <a class="btn-floating btn-large red">
                                <i class="fa fa-chevron-circle-left" aria-hidden="true" id="centertheicon"></i>
                            </a>
                            <ul>
                                <li><a href="https://github.com/" target="_blank" title="Github" class="btn-floating grey darken-3"><i class="fa fa-github" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                                <li><a class="btn-floating blue"><i class="fa fa-linkedin" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                                <li><a class="btn-floating purple darken-1"><i class="fa fa-user" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="../../assets/img/nopic.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-texts">Joe Smith<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 center-align flow-text">Joe Smith<i class="material-icons right">close</i></span>
                        <div>
                            <h5 class="center-align flow-text">I like dogs and web dev</h5>
                        </div>
                        <div class="fixed-action-btn horizontal click-to-toggle">
                            <a class="btn-floating btn-large red">
                                <i class="fa fa-chevron-circle-left" aria-hidden="true" id="centertheicon"></i>
                            </a>
                            <ul>
                                <li><a href="https://github.com/" target="_blank" title="Github" class="btn-floating grey darken-3"><i class="fa fa-github" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                                <li><a class="btn-floating blue"><i class="fa fa-linkedin" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                                <li><a class="btn-floating purple darken-1"><i class="fa fa-user" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="../../assets/img/nopic.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-texts">Joe Smith<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 center-align flow-text">Joe Smith<i class="material-icons right">close</i></span>
                        <div>
                            <h5 class="center-align flow-text">I like dogs and web dev</h5>
                        </div>
                        <div class="fixed-action-btn horizontal click-to-toggle">
                            <a class="btn-floating btn-large red">
                                <i class="fa fa-chevron-circle-left" aria-hidden="true" id="centertheicon"></i>
                            </a>
                            <ul>
                                <li><a href="https://github.com/" target="_blank" title="Github" class="btn-floating grey darken-3"><i class="fa fa-github" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                                <li><a class="btn-floating blue"><i class="fa fa-linkedin" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                                <li><a class="btn-floating purple darken-1"><i class="fa fa-user" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator responsive-img" src="../../assets/img/nopic.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4 flow-texts">Joe Smith<i class="material-icons right">more_vert</i></span>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4 center-align flow-text">Joe Smith<i class="material-icons right">close</i></span>
                        <div>
                            <h5 class="center-align flow-text">I like dogs and web dev</h5>
                        </div>
                        <div class="fixed-action-btn horizontal click-to-toggle">
                            <a class="btn-floating btn-large red">
                                <i class="fa fa-chevron-circle-left" aria-hidden="true" id="centertheicon"></i>
                            </a>
                            <ul>
                                <li><a href="https://github.com/" target="_blank" title="Github" class="btn-floating grey darken-3"><i class="fa fa-github" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                                <li><a class="btn-floating blue"><i class="fa fa-linkedin" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                                <li><a class="btn-floating purple darken-1"><i class="fa fa-user" id="fontawesomeicons" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
