<html lang=en>

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .bg-ltGrey {
            background-color: #7d8280;
            color: #000000;
        }
    </style>
</head>


<body class="bg-ltGrey" ng-app="Members">
    <nav class="navbar navbar-inverse">
        <a class="navbar-brand" href>hackMan</a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href><span class="glyphicon glyphicon-alert"></span> Alerts    </a></li>
            <li><a href><span class="glyphicon glyphicon-user"></span> Profile </a></li>
            <li><a href><span class="glyphicon glyphicon-log-in"></span> Log Out  </a></li>
        </ul>
    </nav>

    <body>
        <div class="col s7 push-s5">

            <div class="container">
                <div class="card large">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../../assets/img/nopic.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Joe Smith<i class="material-icons right">more_vert</i></span>
                        <p><a href="www.github.com">Github</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </body>










</body>
