<html lang=en>

<head>
    <title>members</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="members.controller.js"></script>
    <script src="members.module.js"></script>
    <link rel="stylesheet" type="text/css" href="../../assets/css/teams.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>


<body class="bg-ltGrey" ng-app="membersApp">
    <!-- NAVBAR STARTS HERE -->
    <div class="navbar-fixed valign-wrapper">
        <nav>
            <div class=" grey darken-3 nav-wrapper">
                <a id="hackerHead" class="brand-logo" ng-click="teams()">hackMan</a>
                <ul class="right hide-on-med-and-down">
                    <li><a ng-click="showAllAlerts=true"><i class="fa fa-exclamation-triangle"></i> Show All Alerts</li></a>
                        <li><a ng-click="showAlerts=true"><i class="fa fa-exclamation-triangle"></i> Send a New Alert</a></li>
                        <li><a ng-click="members()"><i class="fa fa-user"></i> Member Page</a></li>
                        <li><a ng-click="newTeam()"><i class="fa fa-user"></i> Make new team</a></li>
                        <li><a ng-click="sponsor()"><i class="fa fa-heart"></i> Sponsors</a></li>
                        <li><a ng-click="prize()"><i class="fa fa-trophy"></i> Prizes</a></li>
                        <li><a ng-click="loggingOut()"><i class="fa fa-sign-in"></i> Log Out</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="container">
            <div class="row">
                <div class="col s6 push-s3">
                    <div class="card">
                        <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator responsive-img" src="../../assets/img/nopic.jpg">
                        </div>
                        <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4 flow-texts">Joe Smith<i class="material-icons right">more_vert</i></span>
                        </div>
                        <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4 center-align flow-text">Joe Smith<i class="material-icons right">close</i></span>
                            <div>
                                <h5 class="center-align flow-text">I like dogs and web dev</h5>
                            </div>
                            <div ng-hide="profile_edit">
                                <div class="card-content">
                                    <span class="card-title">Top Row</span>
                                    <p id="member-info">I like dogs and web dev</p>
                                </div>
                                <div class="card-action grey darken-3">
                                    <a href="{{github}}"><i class="fa fa-github" id="faicons" aria-hidden="true"></i></a>
                                    <a href="{{linkedIn}}"><i class="fa fa-linkedin" id="faicons" aria-hidden="true"></i></a>
                                    <a href=""><i class="fa fa-file-text-o" id="faicons" aria-hidden="true"></i></a>
                                    <a class="btn" ng-click="profile_edit = true">Edit Profile</a>
                                </div>
                            </div>
                            <div ng-show="profile_edit">
                                <div class="card-content">
                                    <form ng-submit="profile_edit = false">
                                        <label>First Name:</label>
                                        <input type="text" ng-model="teammate.first_name" placeholder="John" ng-required />
                                        <label>Last Name:</label>
                                        <input type="text" ng-model="teammate.last_name" placeholder="Doe" ng-required />
                                        <label>Username: johndoe</label>
                                        <label>Email: test@email.com</label>
                                        <label>Github:</label>
                                        <input type="text" ng-model="teammate.github" placeholder="http://github.com" ng-required />
                                        <label>LinkedIn:</label>
                                        <input type="text" ng-model="teammate.linkedIn" placeholder="http://linkedin.com" ng-required />
                                        <label>Resume Link:</label>
                                        <input type="text" ng-model="teammate.resume_link" placeholder="http://website.com" ng-required />

                                        <br />
                                        <button class="btn" type="submit">Save Profile</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </div>
</body>
