<html lang=en>
<head>
  <title>Sponsors</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/teams.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


<body ng-app="Sponsors">

    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">hackMan</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-alert"></span> Alerts    </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>    Register</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Out   </a></li>
      </ul>
    </nav>



<div class="text-center container">
    <h1 id="hackerHead">{{title}}</h1>


<div id="card" ng-repeat="thing in sponsors">
    <img ng-src="{{thing.image}}" style="width:304px;height:228px;">
    <br>
    <div class="card" id="card-height">
      <div class="card-content">

          <div >
              <span class="card-title black-text"><h2>{{thing.name}}</h2></span>
          </div>
          <div class="divider"></div>
          <p>About Us: {{thing.about}}</p>
          <div class="divider"></div>
          <a ng-href={{sponsors.link}}>Visit our Site!</a>

      </div>
</div>

















</body>
