<html lang=en>
<head>
  <title>Sponsors</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
.bg-ltGrey{
  background-color: #7d8280;
  color: #000000;
}
</style>
</head>


<body class="bg-ltGrey" ng-app="Sponsors">
    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">hackMan</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-alert"></span> Alerts    </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>    Register</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Out   </a></li>
      </ul>
    </nav>



<div class="text-center container bg-ltGrey">
    <h1>{{title}}</h1>


<div ng-repeat="thing in sponsors">
    <img ng-src="{{thing.image}}" style="width:304px;height:228px;">
    <br>
    <p><h2>{{thing.name}}</h2></p>
    <p>{{thing.about}}</p>
    <a ng-href={{sponsors.link}}>Visit our Site!</a>
    <br>
    <br>
    <br>
</div>















</body>
