<html lang=en>
<head>
  <title>Sponsors</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../../assets/css/teams.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>


<body ng-app="Sponsors">

    <nav class="navbar navbar-inverse">
      <a class="navbar-brand" href="#">hackMan</a>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-alert"></span> Alerts    </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span>    Register</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Log Out   </a></li>
      </ul>
    </nav>



<div class="text-center container">
    <h1 id="hackerHead">{{title}}</h1>
</div>
<div class="container">
<div id="card" ng-repeat="thing in sponsors">

    <div class="card horizontal">
         <div class="card-image">
           <img ng-src="{{thing.image}}" style="width:190px;height:228px;">
         </div>
         <div class="card-stacked">
           <div class="card-content">
            <span class="card-title black-text">{{thing.name}}</span>
            <div class="divider"></div>
            <p>{{thing.about}}</p>
           </div>
           <div class="card-action">
             <a ng-href={{thing.link}}>Visit our Site!</a>
           </div>
         </div>
       </div>

</div>
</div>

















</body>
