@import 'https://fonts.googleapis.com/css?family=VT323';

#home {
    width: 25%;
}

#hackingBlue {
  background-color: #18AAC4;
  font: sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #808080;
}

#hackerHead {
  /*color: #74BE30;*/
  font-size: 40px;
  font-family: 'vt323', monospace;
}

#hackingSub {
  /*background-color: #white;*/
}

body {
  background-color: #c0c5ce;
}

ul {
  width: 30%;
}
