@import 'https://fonts.googleapis.com/css?family=VT323';

#main_div {
    position: absolute;
    top: 12%;
    padding-left: 7%;
}

#home {
    width: 30%;
}

#login-ub-hacking {
    width: 40%;
}

#nav-text {
    /*text-shadow: 2px 2px #808080;*/
    font-size: 40px;
}

#team_view {
  width: 40%;
}

#hackingBlue {

  background-color: #18AAC4;
  font: sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #808080;
  /*border: 4px;*/
}

#hackerHead {
  /*color: #74BE30;*/
  font-size: 40px;
  font-family: 'vt323', monospace;
}

#hackerlogo {
  /*color: #74BE30;*/
  font-size: 90px;
  font-family: 'vt323', monospace;
}
#team-block {

}

#fixed-div {
    position: fixed;
    float: right;
    top: 10%;
    right: 3%;
    width: 50%;
}

#team-info {
    position: fixed;
    top: 50%;
    right: 8%;
    left: 45%;
    /*display: inline-block;*/
}

#alerts {
    position: fixed;
    top: 19%;
    right: 6%;
    left: 43%;
}

#alert-height {
    height: 16em;
}

#alert-text {
    font: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px #808080;
}

#card-height {
    height: 25em;
}
#login-card {
    width: 45em;
    height: 35em;
}

#timer {
    position: fixed;
    /*position: fixed;*/
    float: right;
    /*top: 10%;*/
    right: 4%;
}

#info-title {
    background-color: #18AAC4;
}

#timer-text {
    text-shadow: 1px 2px #909090;
}

/*.hide-on-med-and-down a i{
    line-height: 60px;
}*/

#navbar-fixer {
    line-height: 60px;
    font-size: 20px;
}

.navbar-fixed a:hover {
    color: #18AAC4;
}

body {
  background-color: #c0c5ce;
}
