@import 'https://fonts.googleapis.com/css?family=VT323';

#main_div {
}

#home {
}

#login-ub-hacking {
}

#nav-text {
    /*text-shadow: 2px 2px #808080;*/
    font-size: 40px;
}

#team_view {
}

#hackingBlue {

  background-color: #18AAC4;
  font: sans-serif;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px #808080;
  /*border: 4px;*/
}

#hackerHead {
  /*color: #74BE30;*/
  padding-left: 3%;
  font-size: 40px;
  font-family: 'vt323', monospace;
}

#hackerlogo {
  /*color: #74BE30;*/
  font-size: 90px;
  font-family: 'vt323', monospace;
}
#team-block {

}

#fixed-div {
    float: right;
}

#member-info {
    font-size: 16px;
}

#alerts {
}

#alert-height {
}

#alert-text {
    font: sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px #808080;
}

#card-height {
}
#login-card {
}

#timer {
    position: fixed;
    float: right;
    /*top: 10%;*/
}

#info-title {
    background-color: #18AAC4;
}

#timer-text {
    text-shadow: 1px 2px #909090;
}

#faicons {
    font-size: 30px;
    color: #ffffff;
}

.hide-on-med-and-down a i{
    line-height: 60px;
}

.navbar-fixed a:hover {
    color: #18AAC4;
}

body {
  background-color: #c0c5ce;
}
