<!DOCTYPE html>
<html lang=en>
<head>
    <base href="/">
  <title>HACKMN</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href="../../assets/css/teams.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body class="bg-dkBlue">

    <div class="navbar-fixed">
        <nav class="grey darken-3">
        <a id="hackerHead" class="navbar-brand" href="#">HACKMN</a>
        </nav>
    </div>

<div class="container-fluid bg-dkBlue text-center pad-hvy card" id="login-card">
  <h1 id="hackerlogo"><b>HACKMN</b></h1>
  <h3>The best way to manage all your groups</h3>
  <img src="../../assets/img/ubhacking.png" id="login-ub-hacking">
  <br/>

<!--panel stuff-->
<a class="waves-effect waves-light btn" ng-click="loggingIn()">Login</a>
</div>

</body>
<script>
        $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip({trigger: "hover", animation: true});
        });
        $(document).ready(function(){
            $('.collapsible').collapsible({
                accordion : true
 });
    </script>
</html>
