<html lang=en>
<head>
  <title>hackMan</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
.bg-ltGrey{
  background-color: #7d8282;
  color: #000000;
}
.bg-ltBlue{
  background-color: #2c87b2;
  color: #000000;
}

.txt-dkrLink{
    color: #2c40b2;
}
</style>

</head>

<body class="bg-ltGrey container" ng-app="termsAndConditions">
    <div class="bg-ltGrey" >
        <br>
        <br>
        <div>
        <h2 class="center-align">These are the terms and conditions. please listen to them.... thank you.</h2>
        </div>
        <br>
        <br>
        <div>
            <p>
                <ul class="center-align">
                    <li>Don't be a jerk</li>
                    <li>By using hackMan, you agree that we the developers own all of your chocolate and peanut butter</li>
                    <li>BLOOD IS THE PRICE OF GLORY</li>
                </ul>


            </p>
            <br>
<h3 class="center-align">Thank you.</h3>
        </div>
<br>
<button class="btn bg-ltBlue col offset-s5" ng-click="loginPage()"> Back to Register</button>
<br>
<br>
<br>
<br>
<br>






</div>
</body>
